.icl-Container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;
}
@media (min-width: 30em) {
  .icl-Container {
    max-width: 30rem;
  }
}
@media (min-width: 48em) {
  .icl-Container {
    max-width: 48rem;
  }
}
@media (min-width: 62em) {
  .icl-Container {
    max-width: 62rem;
  }
}
@media (min-width: 80em) {
  .icl-Container {
    max-width: 80rem;
  }
}
.icl-Container--fluid {
  max-width: 100% !important;
}
.icl-Grid:after,
.icl-Grid:before {
  content: "";
  display: table;
}
.icl-Grid:after {
  clear: both;
}
.icl-Grid-col {
  float: left;
}
.icl-Grid--gutters {
  margin-left: -1rem;
  margin-right: -1rem;
}
.icl-Grid--gutters > .icl-Grid-col {
  padding: 0 1rem;
}
