.nav {
  display: flex;
  align-items: stretch;
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
}

.nav__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-background-faint);
}

.nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-basis: 10%;
  flex-grow: 1;
}

.nav__logo path {
  fill: var(--color-brand);
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 80%;
  list-style: none;
}

.content {
  margin-top: 50px;
  list-style: none;
}

.content__item {
  width: 50px;
  height: 50px;
  margin: 10px 10px;
  background-color: var(--color-background-faint);
}
